html,
body {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #52575c;
}
* {
  /* outline: 1px solid red; */
}
footer {
  margin: auto;
}
